body {
    text-align: right;
    font-size: 2rem;
    font-family: monospace;
    color:rgb(230, 171, 117);
    padding: 0%;
    margin: 0;
    background-image: url('');
    background-size: cover;
}
#answerbutton {
    color:rgb(230, 171, 117);
    background-color: black;
}

.jumbotron {
    height: 20%;
    text-align: left;
    font-size: 50%;
    background-image: url("../images/dbz\ background.jpg");
}